table {
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: separate;
}           

thead {
    font-size: 14px;
    font-weight: bold;
    color: #555; 
    background-color: transparent;
}

thead th {
    padding-bottom: 5px;
}

tbody tr {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

tbody td {
    background-color: var(--white);
}

th, td {
    padding: 15px;
    text-align: left;
}

tbody td:first-child > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

tbody td:first-child {
    display: flex;
    align-items: center;
}

table tbody tr td:first-child {
    border-radius: 5px 0 0 5px;
}

table tbody tr td:last-child {
    border-radius: 0 5px 5px 0;
}