<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMH - Dispositivos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
        {% load static %}
        <link href="{% static 'smhapp/variables.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/table.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/sidebar.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/pages/devices.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        {% include "smhapp/includes/sidebar.html" with path=request.path %}
        <div id="toast">Dispositivo cadastrado com sucesso!</div>
        
        <div class="content">
            <div class="content-header">
                <h2>Dispositivos</h2>
                <button onclick="toggleModalNew(); document.querySelector('.modal-title').innerHTML = 'Novo Dispositivo'; document.querySelector('.btn-submit').value = 'Cadastrar';">Novo Dispositivo</button>
            </div>
            <div class="content-body">
                <div class="cards"></div>
            </div>
        </div>

        <div class="modal remove">
            <div class="modal-container" style="width: 500px">
                <div class="modal-header">
                    <h2>Excluir Dispositivo</h2>
                </div>
                <div class="modal-content">
                    <input class="id-to-delete" type="hidden">
                    <p class="delete-msg">Você deseja realmente excluir este dispositivo? Ele não poderá ser recuperado.</p>
                </div>
                <div class="modal-footer">
                    <button onclick="toggleModalRemove()">Cancelar</button>
                    <button class="btn-remove danger">Excluir</button>
                </div>
            </div>
        </div>

        <div class="modal new" onclick="return false">
            <div class="modal-container">
                <div class="modal-header">
                    <h3 class="modal-title">Novo Dispositivo</h3>
                    <p class="close" onclick="toggleModalNew(); ">
                        <i class="fa-solid fa-times"></i>
                    </p>
                </div>
                <div class="modal-content">
                    <form id="form" onsubmit="create(this); return false">{% csrf_token %}
                        <input name="id" type="hidden" value="">
                        <div class="modal-form">
                            <div class="modal-row">
                                <label>
                                    <p>Nome</p>
                                    <input name="name" type="text" placeholder="Ex.: PC01 - Assisão">
                                </label>
                                <label>
                                    <p>Tipo</p>
                                    <select name="deviceType">
                                        <option value="" selected disabled>Selecione o Tipo</option>
                                        {% for deviceType in deviceTypes %}
                                            <option value="{{ deviceType.id }}">{{ deviceType }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="modal-row">
                                <label>
                                    <p>Modelo</p>
                                    <input name="model" type="text" placeholder="Ex.: ThinkPad">
                                </label>
                                <label>
                                    <p>Setor</p>
                                    <select name="department" onchange="department_change(this)">
                                        <option value="" selected disabled>Selecione o Setor</option>
                                        {% for department in departments %}
                                            <option value="{{ department.id }}">{{ department }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            <div class="modal-row">
                                <label>
                                    <p>Sala</p>
                                    <select class="room" name="room">
                                        <option value="" selected disabled>Selecione a Sala</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input class="btn-submit" type="submit" value="Cadastrar"></input>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script>
            (function init(){
                load_devices();
            }());

            function load_devices() {
                $.ajax({
                    url: '/load/load_devices',
                    type: 'GET',
                    success: function(data) {
                        if (data.length == 0) {
                            data = "<div class='no-device-container'><img class='no-device-img' src='{% static 'smhapp/imgs/404.svg' %}' alt='Nenhum dispositivo cadastrado'><h2>Nenhum dispositivo encontrado</h2><p>Clique no botão 'Novo Dispositivo' acima para cadastrar um dispositivo!</p></div>";
                        }

                        document.querySelector('.cards').innerHTML = data;
                    }
                });
            }

            function create(form) {
                var id = form.id.value;
                var name = form.name.value;
                var deviceType_id = form.deviceType.value;
                var model = form.model.value;
                var room_id = form.room.value;

                console.log(!id, !name, !deviceType_id, !model, !room_id);

                if (!name || !deviceType_id || !model || !room_id) {
                    showToast("Preencha todos os campos corretamente!");
                } else {
                    if (id) {
                        $.ajax({
                            url: '/load/edit_device',
                            type: 'POST',
                            headers: {
                                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                            },
                            data: {
                                id,
                                name,
                                deviceType_id,
                                model,
                                room_id
                            },
                            success: function(data) {
                                showToast("Dispositivo editado com sucesso!");
                                toggleModalNew();
                                load_devices();

                                form.elements.id = '';
                                form.reset();
                            }
                        });
                    } else {
                        $.ajax({
                            url: '/load/create_device',
                            type: 'POST',
                            headers: {
                                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                            },
                            data: {
                                name,
                                deviceType_id,
                                model,
                                room_id
                            },
                            success: function(data) {
                                showToast("Dispositivo cadastrado com sucesso!");
                                toggleModalNew();
                                load_devices();
                                form.reset();
                            }
                        });
                    }
                }
            }

            function edit_device(device_id, name, deviceType_id, model, department_id, room_id) {
                document.querySelector('.modal-title').innerHTML = "Editar Dispositivo";
                document.querySelector('.btn-submit').value = "Salvar";
                let form = document.querySelector('#form');

                form.id.value = device_id;
                form.name.value = name;
                form.deviceType.value = deviceType_id;
                form.model.value = model;
                form.department.value = department_id;
                department_change(form.department, room_id);

                toggleModalNew();
            }

            function ask_for_remove(device_id) {
                document.querySelector('.id-to-delete').value = device_id;
                toggleModalRemove();
            }
            
            document.querySelector('.btn-remove').addEventListener('click', () => {
                remove(document.querySelector('.id-to-delete').value);
            });

            function remove(id) {
                $.ajax({
                    url: '/load/remove_device',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    data: {
                        id
                    },
                    success: function(data) {
                        load_devices();
                        toggleModalRemove();
                        showToast("Dispositivo removido com sucesso!");
                    }
                });
            }

            function department_change(element, room_id) {
                $.ajax({
                    url: '/load/load_rooms',
                    type: 'GET',
                    data: {
                        department_id: element.value
                    },
                    success: function(data) {
                        document.querySelector('.room').innerHTML = data;
                        if (room_id) {
                            document.querySelector('.room').value = room_id;
                        }
                    }
                });
            }

            function toggleModalNew() {
                let list = document.querySelector('.modal.new').classList;
                if (list.contains('show')) {
                    list.remove('show');
                    document.querySelector('#form').id.value = '';
                    document.querySelector('#form').reset();
                } else
                    list.add('show');
            }

            document.querySelector('.modal.new').addEventListener('click', () => {
                toggleModalNew();
            });

            function toggleModalRemove() {
                let list = document.querySelector('.modal.remove').classList;
                if (list.contains('show'))
                    list.remove('show');
                else
                    list.add('show');
            }

            document.querySelector('.modal.remove').addEventListener('click', () => {
                toggleModalRemove();
            });

            document.querySelector('.modal.new>*').addEventListener('click', (e) => {
                event.stopPropagation();
            });

            document.querySelector('.modal.remove>*').addEventListener('click', (e) => {
                event.stopPropagation();
            });

            function showToast(text) {
                var toast = document.querySelector("#toast");
                toast.className = "show";
                toast.innerHTML = text;
                setTimeout(function(){ 
                    toast.className = toast.className.replace("show", ""); 
                }, 3000);
            }
        </script>
    </body>
</html>