<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login | Sistema de Monitoramento</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap" rel="stylesheet"> 
        {% load static %}
        <link href="{% static 'smhapp/variables.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/pages/login.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>Entrar</p>
        <h1>SMH</h1>
		<input type="text" placeholder="Usuário" />
        <input type="password" placeholder="Senha" />
        <a href="/dashboard">
            <button>Entrar</button>
        </a>
    </body>
</html>