.content {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-header h2 {
    color: #00255C;
}

.content-body {
    margin-top: 25px;
    display: flex;
}

.card {
    width: 100%;
    height: 100%;
    background: #FEFBFF;
    box-shadow: 0px 2px 5px rgba(70, 142, 250, 0.3);
    border-radius: 5px;
    padding: 20px;
}

/* MODAL */

.close {
    cursor: pointer;
}

.price {
    font-size: 22px;
}

tbody td:first-child > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 15px;
}

tbody td:first-child {
    display: flex;
    align-items: center;
}

tbody tr td:last-child {
    width: 100px;
}

.table-user-info > h4 {
    color: #262626;
}

.table-user-info > p {
    font-size: 14px;
    color: #555;
}

a {
    text-decoration: none;
    color: black;
}