<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMH - Dashboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        {% load static %}
        <link href="{% static 'smhapp/variables.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/table.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/sidebar.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/pages/dashboard.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <div class="sidebar">
            <div class="sidebar-header">
                <img src="https://static.wikia.nocookie.net/avatar/images/c/ce/Aang.png/revision/latest/smart/width/250/height/250?cb=20161129194603&path-prefix=pt-br" />
                <h3>Aria Siqueira</h3>
                <p>DTI - Central</p>
            </div>
            <div class="sidebar-menu">
                <p>Menu</p>
                <a class="sidebar-menu-item selected" href="/dashboard">
                    <div class="sidebar-menu-item-icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </div>
                    <p>Dashboard</p>
                </a>
                <a class="sidebar-menu-item" href="/devices">
                    <div class="sidebar-menu-item-icon">
                        <i class="fa-solid fa-laptop"></i>
                    </div>
                    <p>Dispositivos</p>
                </a>
                <a class="sidebar-menu-item" href="/devicetypes">
                    <div class="sidebar-menu-item-icon">
                        <i class="fa-solid fa-server"></i>
                    </div>
                    <p>Tipos de Dispositivos</p>
                </a>
                <a class="sidebar-menu-item" href="/users">
                    <div class="sidebar-menu-item-icon">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <p>Usuários</p>
                </a>
                <a class="sidebar-menu-item" href="/departments">
                    <div class="sidebar-menu-item-icon">
                        <i class="fa-solid fa-building"></i>
                    </div>
                    <p>Setores</p>
                </a>
                <a class="sidebar-menu-item" onclick="openFile()">
                    <div class="sidebar-menu-item-icon">
                        <i class="fa-solid fa-upload"></i>
                    </div>
                    <p>Importar arquivo</p>
                </a>
               
                {% if form.is_multipart %}
                    <form enctype="multipart/form-data" method="post" action="{% url 'smhapp:arquivoMedicao'%}">
                {% else %}
                    <form method="post" action="{% url 'smhapp:arquivoMedicao'%}">
                {% endif %}
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="enviar" id="enviar" value="enviar">
                </form>
                <input type="file" name="arq" id="arq" value="Arquivo" style="display: none;">
            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <h2>Dashboard</h2>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card-icon warning">
                        <i class="fa-solid fa-exclamation-triangle"></i>
                        <p class="card-title">Atenção</p>
                    </div>
                    <label class="card-value">20</label>
                </div>
                <div class="card">
                    <div class="card-icon danger">
                        <i class="fa-solid fa-bomb"></i>
                        <p class="card-title">Perigo</p>
                    </div>
                    <label class="card-value">15</label>
                </div>
                <div class="card">
                    <label class="card-title">Computadores ligados</label>
                    <label class="card-value">160</label>
                </div>
                <div class="card">
                    <label class="card-title">Máximo hoje</label>
                    <label class="card-value">190</label>
                </div>
            </div>
            <label>
                <p>Tipo</p>
                <select onchange="load_dashboard();" class="deviceType">
                    {% for deviceType in deviceTypes %}
                        <option value="{{ deviceType.id }}">{{ deviceType }}</option>
                    {% endfor %}
                </select>
            </label>
            <div class="dashboardTable">
            </div>
        </div>
        <script type="text/javascript">
            (function init(){
                load_dashboard();
            }());

            function load_dashboard() {
                console.log(document.querySelector('.deviceType').value)
                $.ajax({
                    url: '/load/load_dashboard',
                    type: 'GET',
                    data: {
                        deviceType_id: document.querySelector('.deviceType').value
                    },
                    success: function(data) {
                        // if (data.length == 0) {
                        //     data = "<div class='no-device-container'><img class='no-device-img' src='{% static 'smhapp/imgs/404.svg' %}' alt='Nenhum setor cadastrado'><h2>Nenhum setor encontrado</h2><p>Clique no botão 'Novo Setor' acima para cadastrar um setor!</p></div>";
                        // }

                        document.querySelector('.dashboardTable').innerHTML = data;
                    }
                });
            }
            function openFile(){
                document.getElementById("arq").click();
            }
        </script>
    </body>
</html>