<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMH - Setores</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        {% load static %}
        <link href="{% static 'smhapp/variables.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/table.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/sidebar.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/pages/departments.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% include "smhapp/includes/sidebar.html" with path=request.path %}
        <div class="content">
            <div class="content-header">
                <h2>Setores</h2>
                <button onclick="toggleModalNew()">Novo Setor</button>
            </div>
            <!-- <div class="procurar">
                <input type="search" placeholder="Procurar o setor aqui ..."/>
                <button>Buscar</button>
            </div>
            <div class="organizacao">
                <button>Filtrar por</button>
                <button>Ordenar por</button>
            </div> -->
        
            <table>
                <thead>
                    <tr> 
                        <th>Nome</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        <td><a href="rooms">DIATINF</a></td>
                        <td>Diretoria de Informártica</td>
                    </tr>
                    <tr>
                        <td>Nome2</td>
                        <td>Descrição2</td>
                    </tr>
                    <tr>
                        <td>Nome3</td>
                        <td>Descrição3</td>
                    </tr>
                    <tr>
                        <td>Nome4</td>
                        <td>Descrição4</td>
                    </tr>
                    <tr>
                        <td>Nome5</td>
                        <td>Descrição5</td>
                    </tr>
                    <tr>
                        <td>Nome6</td>
                        <td>Descrição6</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="modal new" onclick="return false">
            <div class="modal-container">
                <div class="modal-header">
                    <h3>Cadastrar Setor</h3>
                    <p class="close" onclick="toggleModalNew()">
                        <i class="fa-solid fa-times"></i>
                    </p>
                </div>
                <div class="modal-content">
                    <div class="modal-form">
                        <div class="modal-row">
                            <label>
                                <p>Nome</p>
                                <input type="text" placeholder="Ex.: DIATINF">
                            </label>
                            <label class="descricao">
                                <p>Descrição</p>
                                <input type="text" placeholder="Ex.: Diretoria de Informática">
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function toggleModalNew() {
                let list = document.querySelector('.modal.new').classList;
                if (list.contains('show'))
                    list.remove('show');
                else
                    list.add('show');
            }

            document.querySelector('.modal.new').addEventListener('click', () => {
                toggleModalNew();
            });

            document.querySelector('.modal.new>*').addEventListener('click', (e) => {
                event.stopPropagation();
            });
        </script>
        
    </body>
</html>