<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SMH - Usuários</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        {% load static %}
        <link href="{% static 'smhapp/variables.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/main.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/table.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/sidebar.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'smhapp/pages/users.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% include "smhapp/includes/sidebar.html" with path=request.path %}
        <div class="content">
            <div class="content-header">
                <h2>Usuários</h2>
                <button onclick="toggleModalNew()">Novo Usuário</button>
            </div>
            <div class="content-body">
                <table>
                    <thead>
                        <tr>
                            <th>Usuário</th>
                            <th>Tipo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="https://static.wikia.nocookie.net/avatar/images/c/ce/Aang.png/revision/latest/smart/width/250/height/250?cb=20161129194603&path-prefix=pt-br" />
                                <div class="table-user-info">
                                    <h4>Safyra Gurgel</h4>
                                    <p>DTI - Central</p>
                                </div>
                            </td>
                            <td>Técnico</td>
                            <td>
                                <div class="popover">
                                    <i class="fa-solid fa-ellipsis-v"></i>
                                    <div class="popover-content">
                                        <button>Editar</button>
                                        <button class="btn-remove danger" onclick="ask_for_remove('{{ device.id }}')">Excluir</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://static.wikia.nocookie.net/avatar/images/c/ce/Aang.png/revision/latest/smart/width/250/height/250?cb=20161129194603&path-prefix=pt-br" />
                                <div class="table-user-info">
                                    <h4>Rosenildo Pereira</h4>
                                    <p>DTI - Redes</p>
                                </div>
                            </td>
                            <td>Supervisor</td>
                            <td>
                                <div class="popover">
                                    <i class="fa-solid fa-ellipsis-v"></i>
                                    <div class="popover-content">
                                        <button>Editar</button>
                                        <button class="btn-remove danger" onclick="ask_for_remove('{{ device.id }}')">Excluir</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal new" onclick="return false">
            <div class="modal-container">
                <div class="modal-header">
                    <h3>Novo Usuário</h3>
                    <p class="close" onclick="toggleModalNew()">
                        <i class="fa-solid fa-times"></i>
                    </p>
                </div>
                <div class="modal-content">
                    <div class="modal-form">
                        <div class="modal-row">
                            <label>
                                <p>Nome</p>
                                <input type="text" placeholder="Ex.: PC01 - Assisão">
                            </label>
                            <label>
                                <p>Tipo</p>
                                <select>
                                    <option value="">Computador</option>
                                    <option value="">Tablet</option>
                                    <option value="">Switch</option>
                                </select>
                            </label>
                        </div>
                        <div class="modal-row">
                            <label>
                                <p>Modelo</p>
                                <input type="text" placeholder="Ex.: ThinkPad">
                            </label>
                            <label>
                                <p>Setor</p>
                                <select>
                                    <option value="">DTI - Central</option>
                                    <option value="">DIATINF</option>
                                    <option value="">DIACON</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button>Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function toggleModalNew() {
                let list = document.querySelector('.modal.new').classList;
                if (list.contains('show'))
                    list.remove('show');
                else
                    list.add('show');
            }

            document.querySelector('.modal.new').addEventListener('click', () => {
                toggleModalNew();
            });

            document.querySelector('.modal.new>*').addEventListener('click', (e) => {
                event.stopPropagation();
            });
        </script>
    </body>
</html>